# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]



# Django
db.sqlite3
*.log
media/
staticfiles/


# Virtual environment
venv/
env/
.env

# VS Code
.vscode/
.idea/

# Node (React)
node_modules/
build/

# OS
.DS_Store
Thumbs.db